<div class="flex flex-col justify-center items-center min-h-screen bg-gray-100">
  <div class="max-w-sm w-full p-6 bg-white shadow-md rounded-md">
    <div class="flex flex-col items-center mb-6">
      <img
        src="https://pbs.twimg.com/profile_images/1418136180701515777/cLznGw9G_400x400.jpg"
        alt="Company Logo"
        class="rounded-full w-16 h-16 mb-3"
      />
      <h2 class="text-2xl font-semibold">Sign In</h2>
    </div>
    <form [formGroup]="signInForm">
      <div class="mb-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Enter your username"
            autocomplete="off"
            required
          />
          <mat-error
            *ngIf="signInForm.controls['username'].hasError('required')"
            >Username is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="mb-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            required
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button
        type="submit"
        [disabled]="signInForm.invalid"
        class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600"
        (click)="submitLogin()"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
