<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="PYCS Logo"
    src="https://media.licdn.com/dms/image/C4D0BAQGljutcNnIrAA/company-logo_200_200/0/1621431508421?e=2147483647&v=beta&t=Z7k98OhBqCUx-h1yFIVneFdjwpGisXTViYNMMBh6J58"
  />
  <span>Welcome back, Cosmus</span>
  <div class="spacer"></div>

  <button (click)="logOutFunction()">LOGOUT</button>
  <a>
    <svg
      height="24"
      width="24"
      data-name="Logo"
      viewBox="0 0 24 24"
      fill="#fff"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path d="" />
    </svg>
  </a>
</div>

<div class="content" role="main">
  <div
    class="p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 min-w-[95%]"
  >
    <h1
      class="text-4xl font-bold text-center text-blue-700 border-b-2 border-blue-700 pb-2"
    >
      Loan Calculator
    </h1>

    <!-- begin calculator form -->
    <form
      class="flex flex-col flex-auto p-4 sm:p-4 overflow-y-auto"
      [formGroup]="calculatorForm"
    >
      <div class="flex flex-col md:flex-row">
        <mat-form-field appearance="outline" class="w-full flex-1 mx-1">
          <mat-label>Amount</mat-label>
          <input
            matInput
            formControlName="amount"
            type="number"
            placeholder="Enter amount"
          />
          <mat-error *ngIf="calculatorForm.get('amount')?.hasError('required')">
            Amount is required
          </mat-error>
          <mat-error *ngIf="calculatorForm.get('amount')?.hasError('min')">
            Minimum amount you can apply is 50,000
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full flex-1 mx-1">
          <mat-label>Loan Period (In Months)</mat-label>
          <input
            matInput
            formControlName="loanPeriod"
            type="number"
            placeholder="Enter loan period"
          />
          <mat-error
            *ngIf="calculatorForm.get('loanPeriod')?.hasError('required')"
          >
            Loan period is required
          </mat-error>
          <mat-error *ngIf="calculatorForm.get('loanPeriod')?.hasError('max')">
            Period must be less than or equal to 12 months
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full flex-1 mx-1">
          <mat-label>Interest Type</mat-label>
          <mat-select
            formControlName="interestType"
            placeholder="Select frequency"
          >
            <mat-option value="REDUCING_BALANCE">Reducing Balance</mat-option>
            <mat-option value="FLAT_RATE">Flat Rate</mat-option>
          </mat-select>
          <mat-error
            *ngIf="calculatorForm.get('interestType')?.hasError('required')"
          >
            Interest type is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="flex flex-col md:flex-row">
        <mat-form-field appearance="outline" class="w-full flex-1 mx-1">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            formControlName="startDate"
            type="date"
            placeholder="Select start date"
          />
          <mat-error
            *ngIf="calculatorForm.get('startDate')?.hasError('required')"
          >
            Start date is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full flex-1 mx-1">
          <mat-label>Payment Frequency</mat-label>
          <mat-select
            formControlName="paymentFrequency"
            placeholder="Select frequency"
          >
            <mat-option value="ANNUALLY">Annually</mat-option>
            <mat-option value="QUARTERLY">Quarterly</mat-option>
            <mat-option value="MONTHLY">Monthly</mat-option>
            <mat-option value="EVERY_SIX_MONTHS">Every 6 Months</mat-option>
          </mat-select>
          <mat-error
            *ngIf="calculatorForm.get('paymentFrequency')?.hasError('required')"
          >
            Payment frequency is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex justify-center space-x-4 p-4">
        <button
          type="reset"
          class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Clear form
        </button>
        <button
          type="submit"
          (click)="submitForm()"
          [ngClass]="{ 'disabled-button': calculatorForm.invalid }"
          [disabled]="calculatorForm.invalid"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
          Calculate
        </button>
      </div>
    </form>
    <!-- end calculator form -->

    <!-- begin table -->
    <div *ngIf="showTable">
      <div class="text-sm text-gray-600 bg-gray-100 p-4 mb-4">
        <span class="font-semibold">Interest Rate:</span> {{ interestRate }} %
        <br />
        <span class="font-semibold">Processing Fees:</span>
        {{ processingFees }} <br />
        <span class="font-semibold">Excise Duty:</span> {{ exciseDuty }} <br />
        <span class="font-semibold">Legal Fees:</span> {{ legalFees }} <br />
        <span class="font-semibold">Take Home Amount:</span>
        {{ takeHomeAmount | currencyFormat }} <br />

        <div class="flex justify-end">
          <!-- Download button -->
          <button
            type="button"
            (click)="exportTableAsPdf()"
            class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2"
          >
            <mat-icon>download</mat-icon>
            Download
          </button>
          <!-- Email button -->
          <button
            type="button"
            (click)="sendEmail()"
            class="text-white bg-[#3b5998] hover:bg-[#3b5998]/90 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2"
          >
            <mat-icon>email</mat-icon>
            Send to Email
          </button>
        </div>
      </div>
      <table
        mat-table
        [dataSource]="installments"
        class="min-w-full border border-gray-200"
      >
        <!-- Column definitions -->
        <ng-container matColumnDef="installmentNumber">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="py-2 px-4 border-b font-bold rounded-tl-md"
          >
            Installment.
          </th>
          <td class="py-2 px-4 border-b" mat-cell *matCellDef="let installment">
            {{ installment.installmentNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="startingBalance">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="py-2 px-4 border-b font-bold"
          >
            Starting Balance
          </th>
          <td class="py-2 px-4 border-b" mat-cell *matCellDef="let installment">
            {{ installment.startingBalance | currencyFormat }}
          </td>
        </ng-container>

        <ng-container matColumnDef="installmentAmount">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="py-2 px-4 border-b font-bold"
          >
            Installment Amount
          </th>
          <td class="py-2 px-4 border-b" mat-cell *matCellDef="let installment">
            {{ installment.installmentAmount | currencyFormat }}
          </td>
        </ng-container>

        <ng-container matColumnDef="interestAmount">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="py-2 px-4 border-b font-bold"
          >
            Interest Amount
          </th>
          <td class="py-2 px-4 border-b" mat-cell *matCellDef="let installment">
            {{ installment.interestAmount | currencyFormat }}
          </td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="py-2 px-4 border-b font-bold"
          >
            Due Date
          </th>
          <td class="py-2 px-4 border-b" mat-cell *matCellDef="let installment">
            {{ installment.dueDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalRepayment">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="py-2 px-4 border-b font-bold rounded-tr-md"
          >
            Total Repayment
          </th>
          <td class="py-2 px-4 border-b" mat-cell *matCellDef="let installment">
            {{ installment.totalRepayment | currencyFormat }}
          </td>
        </ng-container>

        <!-- Table rows -->
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="bg-gray-100"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns; let even = even"
          class="bg-white even:bg-gray-50"
        ></tr>
      </table>
    </div>
    <!-- end table -->
  </div>
</div>
